@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

.dark .ql-container.ql-snow .ql-editor {
    color: #ffffff; /* White text in editor */
  }
  .dark .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background-color: #333333; /* Dark background for dropdown */
    color: #ffffff; /* White text for dropdown options */
  }
  .dark .ql-snow .ql-picker-label {
    color: #ffffff; /* White text for label */
  }
  .dark .ql-snow .ql-stroke {
    stroke: #ffffff; /* White stroke for icons */
  }
  .dark .ql-snow .ql-fill {
    fill: #ffffff; /* White fill for icons */
  }
  .dark .ql-snow .ql-picker-options {
    border-color: #333333; /* Dark border for dropdown options */
  }
  .dark .ql-editor.ql-blank::before {
    color: #cccccc; /* Light color for placeholder text */
  }
  

  .post-content p{
    margin-bottom: 0.5rem
  }

  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }